<!------------ BANNER ------------>
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="promo-title">CODEFACTORY</p>
        <p>Your coding school! Become a job-ready Web Developer!</p>
        <button id="joinus" type="button">
          <a href="https://codefactory.wien/de/contact-de/" target="_blank"
            >Join Us!</a
          >
          <img src="../../assets/arrow.png" />
        </button>
      </div>
      <div class="develop-img col-md-6 text-center">
        <img src="../../assets/developer-team.png" width="500px" />
      </div>
    </div>
  </div>
</section>
