<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5 footer_section">

  <!-- Footer -->
<footer class="">
  <!-- Grid container -->
  <div class="container pt-4 ">
    <section class="mb-4 text-center text-white follow_us">
      <p>Follow us:</p>
    </section>
    <!-- Section: Social media -->
    <section class="mb-2 text-center">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/CodeFactoryVienna/" target="_blank" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/i/flow/login?redirect_after_login=%2Fcodefactoryvie" target="_blank" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/codefactoryvienna/" target="_blank" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/codefactory-vienna" target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Youtube -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCJE5xsfz-bLmVb5emobgOkw" target="_blank" role="button"
    ><i class="fab fa-youtube"></i
  ></a>
    </section>

    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-white text-center p-3">
    © 2023
    <a class="text-white" href="https://codefactory.wien/en/home-en/">CodeFactory Vienna</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</div>
<!-- End of .container -->
