<section class="teacher">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Meet Our Team</h2>
                <p>Profitiere von erfahrenen und sympathischen TrainerInnen, <br> die sich um deinen persönlichen
                    Fortschritt kümmern.</p>
            </div>
            <div class="line">
                <p class="bottom-line"> </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                        <div class="pm-staff-profile-image">
                            <img src="../../assets/Images/portrait1.png" alt="" class="img-thumbnail img-circle" />
                        </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                        <p class="pm-staff-profile-name">John</p>
                        <p class="pm-staff-profile-title">Lead Trainer</p>

                        <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                            et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem
                            ullamcorper tincidunt. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                        <div class="pm-staff-profile-image">
                            <img src="../../assets/Images/portrait2.png" alt="" class="img-thumbnail img-circle" />
                        </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                        <p class="pm-staff-profile-name">Aileen</p>
                        <p class="pm-staff-profile-title">Trainer</p>

                        <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                            et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem
                            ullamcorper tincidunt. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                        <div class="pm-staff-profile-image">
                            <img src="../../assets/Images/portrait3.png" alt="" class="img-thumbnail img-circle" />
                        </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                        <p class="pm-staff-profile-name">Mike</p>
                        <p class="pm-staff-profile-title">Trainer</p>

                        <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                            et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem
                            ullamcorper tincidunt. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>