<section class="teacher">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Meet Our Team</h2>
                <p>Benefit from experienced and likeable trainers<br> who take care of your personal progress.</p>
            </div>
            <div class="line">
                <p class="bottom-line"> </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                        <div class="pm-staff-profile-image">
                            <img src="/assets/images/portrait1.png" alt="" class="img-thumbnail img-circle" />
                        </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                        <p class="pm-staff-profile-name">John</p>
                        <p class="pm-staff-profile-title">Lead Trainer</p>

                        <p class="pm-staff-profile-bio">John is a highly skilled and experienced Fullstack Web Development trainer. With his expertise in front-end and back-end technologies, he guides individuals through the intricacies of web development. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                        <div class="pm-staff-profile-image">
                            <img src="../../assets/images/portrait2.png" alt="" class="img-thumbnail img-circle" />
                        </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                        <p class="pm-staff-profile-name">Aileen</p>
                        <p class="pm-staff-profile-title">Trainer</p>

                        <p class="pm-staff-profile-bio">Aileen's passion for the field and commitment to student success make her a sought-after mentor in the world of Fullstack Web Development. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                        <div class="pm-staff-profile-image">
                            <img src="../assets/images/portrait3.png" alt="" class="img-thumbnail img-circle" />
                        </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                        <p class="pm-staff-profile-name">Mike</p>
                        <p class="pm-staff-profile-title">Trainer</p>

                        <p class="pm-staff-profile-bio">Mike's engaging teaching style and hands-on approach empower learners to master programming languages, frameworks, and databases. Through his guidance, aspiring web developers gain the knowledge and confidence to create dynamic and responsive websites. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>