*{
    font-family: 'Poppins', sans-serif;
}
.teacher {
    margin-bottom: 5%;
    background-color: hsl(0%, 40%, 90%);
    padding: 2%;
    
}

h2 {
    margin-bottom: 2%;
}

.bottom-line{
    border-bottom: 1px solid hsl(0%, 69%, 61%);
	width: 10%;
	height: 3px; 
    margin-left: 45%;
   
    
    
}
.content {
    margin-top: 5%;
   margin-left: 0.3%;
}

.pm-staff-profile-image{
    width: 150px;
    height: 150px;
    background-color: #C6C6C6;
    border-radius: 50%;
    display: inline-block;

.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    

}
  }
  .pm-staff-profile-details {
      padding: 20px 20px;
  }
  .pm-staff-profile-name {
      font-size: 24px;
      text-transform: capitalize;
      color: hsl(0%, 57%, 53%);
  }
  .pm-staff-profile-title {
      text-transform: capitalize;
      color: hsl(0%, 8%, 45%);
      font-weight: 500;
      padding: 12px 0px;
  }
  .pm-staff-profile-bio {
    text-transform: capitalize;
    color: #4b4b4b;
    font-weight: 100;
  }
