<h1 class="text-center">Course Details</h1>
<div class="mt-5 d-flex justify-content-center">
<div class="card" style="width: 20rem;">
  <div class="card-body d-flex flex-column justify-content-between">
    <h5 class="card-title">{{format.name}}</h5>
    <p class="card-text"><span class="fw-bold">Duration:</span> {{format.duration}}</p>
    <p class="card-text"><span class="fw-bold">Level:</span> {{format.level}}</p>
  </div>
</div>
</div>
<div class="m-5">
<h2 class="text-center">Description:</h2>
<p class="description_text">{{format.description1}}</p>
<p class="description_text">{{format.description2}}</p>
<p class="description_text">{{format.description3}}</p>
<p class="description_text">{{format.description4}}</p>
<div class="d-flex justify-content-center">
<a routerLink="" class="btn btn-danger ">Go back</a>
</div>
</div>
