:host {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  button {
    position: relative;
    padding: 15%;
    background-color: hsl(0%, 80%, 55%);
    border: none;
    border-radius: 10%;
    width: 40px;
    transition: background-color 0.3s ease;
    
  }

 button:hover {
    background-color: hsl(0%, 90%, 40%);
    color: hsl
  }

 img {
    width: 70%;
 }
 
  