<!-- NEWS CAROUSEL START -->
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner mx-auto">
            <div class="carousel-item active">
                <div class="card text-center">
                    <img src="../../assets/images/coding_01.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Cool News</h2>
                        </div>
                        <div class="w-50 mx-auto">
                            <div class="card-text my-auto">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis eaque beatae quis
                                numquam
                                itaque deleniti odit unde debitis eos quibusdam hic eveniet blanditiis, iure est.
                                Quisquam
                                consequuntur illo repellendus ducimus.
                            </div>
                        </div>
                        <a href="" class="btn btn-danger mt-3 mb-3">
                            Show me more
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        3 days ago
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-center">
                    <img src="../../assets/images/coding_02.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Cool News</h2>
                        </div>
                        <div class="w-50 mx-auto">
                            <div class="card-text my-auto">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis eaque beatae quis
                                numquam
                                itaque deleniti odit unde debitis eos quibusdam hic eveniet blanditiis, iure est.
                                Quisquam
                                consequuntur illo repellendus ducimus.
                            </div>
                        </div>
                        <a href="" class="btn btn-danger mt-3 mb-3">
                            Show me more
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        3 days ago
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-center">
                    <img src="../../assets/images/coding_03.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Cool News</h2>
                        </div>
                        <div class="w-50 mx-auto">
                            <div class="card-text my-auto">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis eaque beatae quis
                                numquam
                                itaque deleniti odit unde debitis eos quibusdam hic eveniet blanditiis, iure est.
                                Quisquam
                                consequuntur illo repellendus ducimus.
                            </div>
                        </div>
                        <a href="" class="btn btn-danger mt-3 mb-3">
                            Show me more
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        3 days ago
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card text-center">
                    <img src="../../assets/images/coding_04.jpg" class="img-fluid" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Cool News</h2>
                        </div>
                        <div class="w-50 mx-auto">
                            <div class="card-text my-auto">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis eaque beatae quis
                                numquam
                                itaque deleniti odit unde debitis eos quibusdam hic eveniet blanditiis, iure est.
                                Quisquam
                                consequuntur illo repellendus ducimus.
                            </div>
                        </div>
                        <a href="" class="btn btn-danger mt-3 mb-3">
                            Show me more
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        3 days ago
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <div>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </div>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <div>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </div>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- NEWS CAROUSEL END -->

<!-- <div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-center">
                    <img src="../../assets/images/news_01.png" class="img-fluid p-2" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            Cool News
                        </div>
                        <div class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum impedit
                            eum eligendi tempore, nobis ab.
                        </div>
                        <a href="" class="btn btn-warning">
                            Show me more
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        3 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr> -->

<!-- NEWS POST START -->

<div class="container">
    <!-- ARTICLE HEADER START -->
    <div *ngFor="let post of posts" class="col">
        <div class="text-center my-5">
            <h1>{{ post.headline }}</h1>
            <hr>
            <h5 class="text-muted text-start">posted on {{ post.date }}</h5>
            <div class="row text-start mb-5">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{{ post.image01 }}" class="img-fluid p-2" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="lh-lg w-75">{{ post.content01 }}</p>
                </div>
            </div>
            <hr class="mb-5">
            <div class="text-start mb-5">
                <p class="lh-lg">{{ post.content02 }}</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{{ post.image02 }}" class="img-fluid p-5" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{{ post.image03 }}" class="img-fluid p-5" alt="">
                </div>
            </div>
        </div>
    </div>


</div>
<!-- NEWS POST END -->