 
<section>
    <div class="info">
        <div class="container">
        <div class="row">
            <div class="header-section text-center">
            <h2>Information</h2>
            <p>Learn to think like an IT specialist –<br> an essential skill in our modern digital world.</p>
            </div>
            <div class="bottom-line"> </div>
            
            <div class="row content">
                <div class="col-1"> <img class="image" src="assets/images/microchip-solid.png" alt="technologies"> </div>
                <div class="col-4">
                <div class="heading pull-right">
                    <h4>Course Technologies</h4>
                    <p>During the course, participants will gain a solid understanding of HTML, CSS, and JavaScript, which form the foundation of front-end development. They will learn how to interact with databases, manage data effectively using SQL technologies, and implement secure authentication and authorization systems.</p>
                </div>
                </div>
                <div class="col-1"> <img class="image" src="assets/images/street-view-solid.png" alt="space"> </div>
                <div class="col-4">
                    <div class="heading pull-right">
                        <h4>Course Space</h4>
                        <p>Monday to Friday from 9 am to 4 pm the attendance part takes place in the CodeFactory itself, either on-site or online, depending on the course.</p>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </section>

  
