<section id="info" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Information</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
        </div>
        <div class="line"><p class="bottom-line"> </p> </div>
        
        <div class="row content">
            <div class="col-1"> <img class="image" src="../../assets/Images/microchip-solid.png" alt="technologies"> </div>
            <div class="col-4">
              <div class="heading pull-right">
                <h4>Course Technologies</h4>
                <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
              </div>
            </div>
            <div class="col-1"> <img class="image" src="../../assets/Images/street-view-solid.png" alt="space"> </div>
            <div class="col-4">
                <div class="heading pull-right">
                    <h4>Course Space</h4>
                    <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  
