
*{
    font-family: 'Poppins', sans-serif;
   
}

section {
    margin-top: 2%;
    margin-bottom: 3%;
}



h2{
	font-size: 2rem;
	padding-bottom: 15px;
}

.bottom-line{
    border-bottom: 1px solid hsl(0%, 69%, 61%);
	width: 10%;
	height: 3px; 
    margin-left: 45%;
}
.fea{
	margin-top: 25px;
}
.heading {
    width: 80%;
    margin-left: 0%;
  padding-left: 0%;
}

.heading h4 {
    font-size: 1.25rem;
    line-height: 1.25;
    margin: 10px 0px;
    text-align: left;
}

.heading p {
  text-align: left;
  
}

.content {
    justify-content: center;
    margin-top: 4%;
    margin-left: 5%;
}
.image {
    width: 50%;
    margin-top: 17%;
    margin-right: 0%;
    padding-right: 0%;
}
