<!------------ TESTIMONIALS ------------>
<div class="container pb-2">
  <h2 class="title">What Our Students Say</h2>
  <p class="test__title">
    Don't take our word for it, <br />here's what others have to say
  </p>
  <p class="bottom-line"></p>
</div>
<section class="testimonials">
  <div class="container__testimonials px-4 py-5">
    <div class="row gy-3">
      <div class="spacing col-lg-4 col-md-6">
        <div class="single-content">
          <img src="assets/images/testimonial1.jpg" />
          <div class="text-content">
            <h4>Sara Jones</h4>
            <p>
              The web-development bootcamp at CodeFactory was a game-changer for
              my career. The curriculum was comprehensive, the instructors were
              knowledgeable, and the hands-on projects helped me build practical
              skills. Thanks to CodeFactory, I landed a job in the tech industry
              and couldn't be happier.
            </p>
          </div>
        </div>
      </div>
      <div class="spacing col-lg-4 col-md-6">
        <div class="single-content">
          <img src="assets/images/testimonial2.jpg" />
          <div class="text-content">
            <h4>Rita Garcia</h4>
            <p>
              I highly recommend CodeFactory's web-development bootcamp. The
              curriculum was up-to-date, the instructors were experts in their
              field, and the emphasis on practical projects was invaluable.
              Thanks to CodeFactory, I transitioned into a web developer role
              successfully.
            </p>
          </div>
        </div>
      </div>
      <div class="spacing col-lg-4 col-md-6">
        <div class="single-content">
          <img src="assets/images/testimonial3.jpg" />
          <div class="text-content">
            <h4>Matt Harris</h4>
            <p>
              CodeFactory's web-development bootcamp transformed my career. The
              curriculum was well-designed, the instructors were passionate, and
              the support from the community was amazing. Thanks to CodeFactory,
              I secured a job as a web developer and I'm incredibly grateful.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
