/* --------------- NAVBAR --------------- */
* {
  font-family: Poppins;
}

.title {
  font-weight: 600;
  margin-bottom: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
}

.container {
  padding-left: 1.5rem;
}

.container__testimonials {
  display: flex;
  justify-content: center;
}

.single-content {
  position: relative;
  transition: 0.3s;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
}

.single-content .text-content,
.single-content:after {
  position: absolute;
  left: 20px;
  right: 20px;
}

.single-content:after {
  content: "";
  display: block;
  background: #f0dbdb;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: 0.4s;
}

.single-content:hover:after {
  opacity: 0.9;
  transform: rotate3d(0, 0, 0, 0deg);
}

.single-content img {
  max-width: 300px;
  max-height: 300px;
}

.text-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: 0.3s;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

.single-content:hover .text-content {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: 0.3s;
}

p {
  color: black;
  text-align: justify;
  padding: 20px;
  font-size: 12px;
}

.col {
  padding-left: 2rem;
  padding-right: 2rem;
}

.test__title {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0;
  font-size: 1.15rem;
}

.bottom-line {
  border-bottom: 1px solid #e05757;
  width: 10%;
  height: 3px;
  margin-left: 45%;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

@media only screen and (min-width: 368px) {
  .single-content {
    position: relative;
    transition: 0.3s;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
    width: 299px;
    height: 299px;
    justify-content: center;
    align-items: center;
  }
}
