@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

#services {
  font-family: Poppins;
}

.pb-2 {
  font-weight: 600;
}

p {
  text-align: justify;
}

.block {
  padding-left: 2rem;
  padding-right: 2rem;
}
