<!------------ SERVICES ------------>
<section id="services">
  <div class="container px-4 py-5" id="featured-3 ">
    <h2 class="pb-2">Course Topic</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 gap">
      <div class="feature col block">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="../../assets/code.png" width="30px" />
        </div>
        <h3 class="fs-2 text-body-emphasis">
          In 15 weeks to junior developer level
        </h3>
        <p>
          Learn everything you need about Frontend and Backend development in
          just 15 weeks to get your new career started. Work hands-on and with
          practical examples from the first day!
        </p>
      </div>
      <div class="feature col block">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="../../assets/open-book.png" width="30px" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Hands-on learning</h3>
        <p>
          The relatively short duration of just 15 weeks is made possible by a
          maximum of practical work. We believe that programming can only be
          learned through the act, which is why we program from day one in teams
          of two or larger group, solving practical problems.
        </p>
      </div>
      <div class="feature col block">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="../../assets/briefcase.png" width="30px" />
        </div>
        <h3 class="fs-2 text-body-emphasis">
          Gain experience in real world projects
        </h3>
        <p>
          Many of our graduate projects are issued by real clients, ranging from
          NGOs to medium-sized companies. The start of your new career gets a
          huge boost with those references in your portfolio!
        </p>
      </div>
    </div>
  </div>
</section>
