#services {
  font-family: Poppins;
}

.pb-2 {
  font-weight: 600;
}

p {
  text-align: justify;
}

.block {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 368px) {
  .container {
    margin-top: 4rem;
  }
}
