<!------------ SERVICES ------------>
<section id="services">
  <div class="container px-4 py-5" id="featured-3 ">
    <h2 class="pb-2">Course Topic</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 gap">
      <div class="feature col block">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="../../assets/code.png" width="30px" />
        </div>
        <h3 class="fs-2 text-body-emphasis">
          In 15 Wochen zum Juniordeveloper
        </h3>
        <p>
          Lerne in nur 15 Wochen alles über Web-Entwicklung und IT was Du zum
          Berufseinstieg brauchst. Vom ersten Tag "hands-on" an Praxisbeispielen
          arbeiten!
        </p>
      </div>
      <div class="feature col block">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="../../assets/open-book.png" width="30px" />
        </div>
        <h3 class="fs-2 text-body-emphasis">
          Hands-on learning vom ersten Tag
        </h3>
        <p>
          All unsere Kurse zeichnen sich durch ein Maximum an praktischem
          Arbeiten aus. Wir glauben, dass man Programmieren nur durch
          Programmieren lernen kann. Deshalb wird bei uns von Tag eins an in
          Zweierteams und Gruppen an projektbezogenen Aufgaben gearbeitet.
        </p>
      </div>
      <div class="feature col block">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
        >
          <img src="../../assets/briefcase.png" width="30px" />
        </div>
        <h3 class="fs-2 text-body-emphasis">
          Sammle Erfahrungen in realen Kundenprojekten
        </h3>
        <p>
          Die Abschlussprojekte unserer Schüler stammen von realen Kunden, von
          der NGO bis zum mittelgroßen Unternehmen. Mit diesen Referenzen und
          Arbeitszeugnissen im Portfolio fällt der Berufseinstieg leicht.
        </p>
      </div>
    </div>
  </div>
</section>
